@charset "utf-8";
*,html,body,ul,li{list-style:none; border:0;margin: 0px;padding: 0px;}
a{text-decoration: none;}
.white{background-color: #FFF;}
body{
	background-color: #f6f6f6;
	position: relative;
}
a{color:#000;}
.clear{clear:both;}
.right{float: right;display: inline;}
.left{float: left;display: inline;}
.box-img3{ text-align:center;}
@media (min-width:1000px) {.top-banner{
	background-color: #db0334;
	height: 60px;
	width: 100%;
}
.top-banner-main{margin-right: auto;margin-left: auto;width: 1200px;position: relative;height: 60px;}
#main{margin-right: auto;margin-left: auto;width: 1200px;position: relative;}
.search {
	height: 60px;
	width: 200px;
	color: #FFF;
	float: right;
	padding-top:5px;
}
.search-text {
    border-style: none;
    color: #FFF;
    background-color: #b54352;
    height: 30px;
    width: 140px;
    margin-left: 45px;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
   line-height: 30px;
}
.search-text:focus{outline:none;
	}
.m1{
	margin-top: 20px;
}
.m1 li{
	float: left;
	width:100px;
	line-height: 30px;
	margin-left: 20px;
}
.zhaokao{
	background-color: #acacad;
	width: 1198px;
	height: 120px;
	background-repeat: no-repeat;
	border: 1px solid #e5e9eb;
	margin-top: 5px;
	padding-bottom:10px;
	position: relative;
}
.zhaokao-title{
	color: #ffffff;
	font-size: 44px;
	margin-top: 30px;
	margin-left: 510px;
}
.zhaokao-text{
	margin-top: 5px;
	margin-left: 200px;
        width: 900px;
}
.box-text-title{
	font-size:20px;
	height:65%
	}
.main-left{
	width: 828px;
	margin-top:10px;
}
.main-right{
	width: 350px;
	margin-top:10px;
}
.box2{
	width: 330px;
	border: 1px solid #ebebeb;
	float: left;
	position: relative;
	padding-left: 15px;
	margin-bottom: 25px;
}
.box2-name{
	color: #F00;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}
.box2-name span{
	color: #cccccc;
	margin-left: 5px;
}
.box2-img{
	margin-top: 13px;
        height: 180px;  
	}
.box2-title{
	font-weight: bold;
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
margin-top:15px;
}
.box2 ul{
	font-size: 14px;
	margin-top: 20px;
}
.box2 ul li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 325px;
	line-height: 24px;
}
.box{
	height: 180px;
	width: 780px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #f2f2f2;
}
.box-img{
	margin-top: 21px;
	margin-left: 27px;
	float: left;
}        
.box-text{
	float: left;
	height: 175px;
	width: 490px;
	margin-left: 20px;
	margin-top: 15px;
}
.box-text-time span{
	color: #999999;
}
.box-text-text{
	float: left;
	height: 175px;
	width: 750px;
	margin-left: 20px;
	margin-top: 15px;
}
.fenye{
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	margin-top: 55px;
	margin-bottom: 40px;
}
.fenye li{
	border: 1px solid #cccccc;
	color: #336799;
	float: left;
	margin-left: 12px;
	padding-right: 5px;
	padding-left: 5px;
}
.foot{
	background-color: #6f1325;
	height: 70px;
	color: #FFF;
	text-align: center;
	line-height: 24px;
	padding-top: 35px;
}
.news-main{
	background-color: #f2f2f2;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}
.news-main-banner{
	width: 610px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.news-main-banner span{
	line-height: 70px;
	margin-left: 4px;
    font-size: 18px;
	font-weight: bold;
	color: #dbdbdb;
}
.yinying{
	position: absolute;
	overflow:hidden;
	width:21px;
	height: 50px;
}
.img1{
	margin-top: 7px;
}
.text-title{
	color: #000;
	font-size: 22px;
	font-weight: bold;
}
.text-time{
	color: #666666;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
}
.text-img{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
.text-text{
	margin-top: 20px;
}
.text-end{
	height: 25px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}
.box3{
	width: 370px;
	border: 1px solid #ebebeb;
	float: left;
	padding-left: 30px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.box3-name{
	color: #F00;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}
.box3-name span{
	color: #cccccc;
	margin-left: 5px;
}
.box3-img{
	margin-top: 13px;
	}
.box3-title{
	font-weight: bold;
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
margin-top:15px;
}
.box3 ul{
	font-size: 14px;
	margin-top: 20px;
}
.box3 ul li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 325px;
	line-height: 24px;
}
.saoma{
	position: fixed;
	right:0;
	bottom:0;
}
.text-text  img{margin-top: 13px;width:600px; height:300;margin-right: auto;
	margin-left: auto;
	margin-top: 25px;}
.text-text p{line-height: 30px;font-size: 18px;}
.more{right: 15px;top:25px;
    position: absolute;
    font-size: 14px;
    color: #000;
    font-weight: normal;}
	.k1{width:1200px;}
	.k2{width:400px;  margin-left:50px;} 
	.box4{width:360px;padding:20px;}
	.box-img2{margin-left:50px;}
	.pc-no{ display:none;}
	.tit2{ text-align:center; font-size:30px;padding:15px;}}
.yin{  display:none;}		
@media (max-width:999px) {
	.top-banner{
	background-color: #db0334;
	height: 120px;
	width: 100%;
	background-image: url(https://news.yangtse.com/img/logo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:40% auto;
}
.top-banner-main{margin-right: auto;margin-left: auto;position: relative;height: 60px;}
#main{margin-right: auto;margin-left: auto;width: 100%;position: relative;}
.m1{
	padding-top: 20px;
	width: 100%;
	background-color: #900;
}
.m1 a{color: #FFF;}
.m1 li {
    float: left;
    width: 20%;
    line-height: 50px;
    margin-left: 20px;
    font-size: 36px;
}
.zhaokao{
	background-color: #acacad;
	background-repeat: no-repeat;
	border: 1px solid #e5e9eb;
	margin-top: 5px;
	position: relative;
    height:120px;
}
.zhaokao-title{
	color: #ffffff;
	font-size: 44px;
	margin-top: 30px;
	margin-left: 450px;
}
.zhaokao-text{
	margin-top: 5px;
	margin-left: 200px;
	padding-bottom:10px;
    width: 60%;
}
.box-text-title{
	font-size:32px;
	height:60%
	}
.main-left{
	margin-top:20px;
  width:100%;
}
.main-right{
	width: 350px;
	margin-top:10px;
}
.box2{
	width: 330px;
	border: 1px solid #ebebeb;
	float: left;
	position: relative;
	padding-left: 15px;
	margin-bottom: 25px;
}
.box2-name{
	color: #F00;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}
.box2-name span{
	color: #cccccc;
	margin-left: 5px;
}
.box2-img{
	margin-top: 13px;
        height: 180px;  
	}
.box2-title{
	font-weight: bold;
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
margin-top:15px;
}
.box2 ul{
	font-size: 14px;
	margin-top: 20px;
}
.box2 ul li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 325px;
	line-height: 24px;
}
.box{
	height: 180px;
	width:95%;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #f2f2f2;
}
.box-img{
	margin-top: 21px;
	margin-left: 27px;
	float: left;
}        
.box-text{
	float: left;
	height: 175px;
	width: 650px;
	margin-left: 20px;
	margin-top: 15px;
}
.box-text-time span{
	color: #999999;
	font-size:22px;
}
.box-text-text{
	float: left;
	height: 175px;
	margin-left: 20px;
	margin-top: 15px;
	width:95%;
}
.fenye{
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	margin-top: 55px;
	margin-bottom: 40px;
}
.fenye li{
	border: 1px solid #cccccc;
	color: #336799;
	float: left;
	margin-left: 12px;
	padding-right: 5px;
	padding-left: 5px;
}
.foot{
	background-color: #6f1325;
	height: 70px;
	color: #FFF;
	text-align: center;
	line-height: 24px;
	padding-top: 35px;
}
.news-main{
	background-color: #f2f2f2;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}
.news-main-banner{
	width: 610px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.news-main-banner span{
	line-height: 70px;
	margin-left: 4px;
    font-size: 18px;
	font-weight: bold;
	color: #dbdbdb;
}
.yinying{
	position: absolute;
	overflow:hidden;
	width:21px;
	height: 50px;
}
.img1{
	margin-top: 7px;
}
.text-title{
	color: #000;
	font-size: 22px;
	font-weight: bold;
}
.text-time{
	color: #666666;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
}
.text-img{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
.text-text{
	margin-top: 20px;
}
.text-end{
	height: 25px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
}
.box3{
	width: 370px;
	border: 1px solid #ebebeb;
	float: left;
	padding-left: 30px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.box3-name{
	color: #F00;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}
.box3-name span{
	color: #cccccc;
	margin-left: 5px;
}
.box3-img{
	margin-top: 13px;
	}
.box3-title{
	font-weight: bold;
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
margin-top:15px;
}
.box3 ul{
	font-size: 14px;
	margin-top: 20px;
}
.box3 ul li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 325px;
	line-height: 24px;
}
.saoma{
	position: fixed;
	right:0;
	bottom:0;
}
.text-text  img{margin-top: 13px;width:600px; height:300;margin-right: auto;
	margin-left: auto;
	margin-top: 25px;}
.text-text p{line-height: 30px;font-size: 18px;}
.more{right: 15px;top:25px;
    position: absolute;
    font-size: 14px;
    color: #000;
    font-weight: normal;}
	.mb-no{ display:none;}
	.box4{width:45%;padding:20px;}
	.box-img2{margin-left:20%;}
	.yin{  display:none;}
	.tit2{ text-align:center; font-size:50px;padding:15px;}}